<!--this is CascComp2.razor-->

<h3>Comp2: @NickName - @Age</h3>

@code {
    [CascadingParameter(Name="NickName")]
    public string NickName { get; set; }

    [CascadingParameter(Name="Age")]
    public int Age { get; set; }
}

