@page "/"
@page "/home"
@using EDT.BlazorComponent.Dialog;

<PageTitle>Index</PageTitle>

<h1>@_translator["HelloWorldTip"]</h1>

@*<SurveyPrompt Title="Your web blazor application" />*@

<p>
	<label>
		Select your locale:
		<select @bind="Culture">
			@foreach (var culture in supportedCultures)
			{
				<option value="@culture">@culture.DisplayName</option>
			}
		</select>
	</label>
</p>

<ModalDialog Title="Modal Dialog Demo" Show="true"
	OnConfirm="@ChangeLanguage" ConfirmText="Yes" CancelText="No">
	<p>
		Are you sure to change language to English?
	</p>
</ModalDialog>

@code {
	private CultureInfo[] supportedCultures = new[]
	{
		new CultureInfo("zh-CN"),
		new CultureInfo("en-US"),
		new CultureInfo("de-DE")
	};

	protected override void OnInitialized()
	{
		Culture = CultureInfo.CurrentCulture;
	}

	public CultureInfo Culture
	{
		get => CultureInfo.CurrentCulture;
		set
		{
			if (CultureInfo.CurrentCulture != value)
			{
				var uri = new Uri(_navigation.Uri)
					.GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
				var cultureEscaped = Uri.EscapeDataString(value.Name);
				var uriEscaped = Uri.EscapeDataString(uri);

				_navigation.NavigateTo(
					$"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}",
					forceLoad: true);
			}
		}
	}

	private void ChangeLanguage()
	{
		Culture = supportedCultures[1];
	}
}
