@page "/pizzas-toppings"
@using EDT.BlazorServer.App.Models

<h1>Our Latest Pizzas and Topping</h1>

<PizzaToppingPage Topping="@(new PizzaTopping() { Name = "Chilli Sauce", Ingredients = "Three kinds of chilli." })" />